In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
file=pd.read_csv("Indian_Movies.csv",encoding='latin-1')
file.head()
file.info()
file.describe()
file.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15509 entries, 0 to 15508
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      15509 non-null  object
 1   Year      14981 non-null  object
 2   Duration  7240 non-null   object
 3   Genre     13632 non-null  object
 4   Rating    7919 non-null   float64
 5   Votes     7920 non-null   object
 6   Director  14984 non-null  object
 7   Actor 1   13892 non-null  object
 8   Actor 2   13125 non-null  object
 9   Actor 3   12365 non-null  object
dtypes: float64(1), object(9)
memory usage: 1.2+ MB

Name           0
Year         528
Duration    8269
Genre       1877
Rating      7590
Votes       7589
Director     525
Actor 1     1617
Actor 2     2384
Actor 3     3144
dtype: int64

In [52]:

file.dtypes

Name         object
Year        float64
Duration    float64
Genre        object
Rating      float64
Votes        object
Director     object
Actor 1      object
Actor 2      object
Actor 3      object
dtype: object

In [61]:
file['Year'].unique()[:50]  # show first 50 unique values

array([2019., 2021., 2010., 1997., 2005., 2008., 2012., 2014., 2004.,
       2016., 1991., 1990., 2018., 1987., 1948., 1958., 2017., 2020.,
       2009., 2002., 1993., 1946., 1994., 2007., 2013., 2003., 1998.,
       1979., 1951., 1956., 1974., 2015., 2006., 1981., 1985., 2011.,
       2001., 1967., 1988., 1995., 1959., 1996., 1970., 1976., 2000.,
       1999., 1973., 1968., 1943., 1953.])

In [48]:
#CLEANING THE DATA
file['Year']=file['Year'].str.replace('(','',regex=False).str.replace(')','',regex=False)
file['Duration']=file['Duration'].str.replace('min','')

In [51]:
#coverting data types
file['Year']=pd.to_numeric(file['Year'],errors='coerce')
file['Duration']=pd.to_numeric(file['Duration'],errors='coerce')

In [59]:
#Check percent of null values in each column
null_percent = (file.isnull().mean() * 100).round(2)
print(null_percent)

Name        0.0
Year        0.0
Duration    0.4
Genre       0.0
Rating      0.0
Director    0.0
Actor 1     0.0
Actor 2     0.0
Actor 3     0.0
dtype: float64

In [54]:
#drop column with greater null values
file=file.drop(columns=['Votes'])

In [57]:
#fill null values for necessary columns
file['Rating']=file['Rating'].fillna(file['Rating'].mean())

In [ ]:
file['Genre']=file['Genre'].fillna("Other") #fill genre first to use it for duration imputation
file['Duration']=file.groupby('Genre')['Duration'].transform(lambda x: x.fillna(x.median()))

In [ ]:
#fill remaining columns
file['Year']=file['Year'].fillna(file['Year'].mode()[0])
file['Director']=file['Director'].fillna("Unknown")
file['Actor 1']=file['Actor 1'].fillna("Unknown")
file['Actor 2']=file['Actor 2'].fillna("Unknown")
file['Actor 3']=file['Actor 3'].fillna("Unknown")

In [60]:
file.isnull().sum()

Name         0
Year         0
Duration    62
Genre        0
Rating       0
Director     0
Actor 1      0
Actor 2      0
Actor 3      0
dtype: int64

In [62]:
file['Duration'] = file['Duration'].fillna(file['Duration'].median())

In [63]:
file.isnull().sum()

Name        0
Year        0
Duration    0
Genre       0
Rating      0
Director    0
Actor 1     0
Actor 2     0
Actor 3     0
dtype: int64

In [64]:
file.to_csv("Cleaned_Indian_Movies.csv",index=False)